@page "/products"
@inject HttpClient Http

<h3>Products</h3>

@if (products is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var p in products)
        {
            <li>@p.Id - @p.Name</li>
        }
    </ul>
}

@code {
    private ProductDto[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<ProductDto[]>("api/products");
    }

    public record ProductDto(int Id, string Name);
}
