@page "/usersList"
@using Microsoft.AspNetCore.Components.Authorization
@using Shared.Accounts
@using System.Text.Json
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Nav
@inject CustomAuthStateProvider CustomAuthStateProvider

<h3>UsersList</h3>

@if (users is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AuthorizeView>
        <Authorized>
            <p><em>@currentUsername</em></p>
            <p><em>@context.User.Identity.Name!</em></p>
            <button @onclick="LogoutAsync">Logout</button>
        </Authorized>
    </AuthorizeView>

    <ul>
        @foreach (var p in users)
        {
            <li>@p.Username - @p.PasswordHash</li>
        }
    </ul>
}

@code {
    private UserDTO[]? users;

    private string? currentUsername = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await CustomAuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        bool isLoggedIn = user.Identity?.IsAuthenticated ?? false;
        if (isLoggedIn)
        {
            var token = await LocalStorage.GetItemAsync<string>("authToken");
            Http.DefaultRequestHeaders.Authorization =
            new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            var response = await Http.GetFromJsonAsync<JsonElement>("api/auth/profile");
            Console.WriteLine(response.GetRawText());
            currentUsername = response.GetProperty("username").GetString();
        }

        users = await Http.GetFromJsonAsync<UserDTO[]>("api/auth");
    }

    private async Task LogoutAsync()
    {
        try
        {
            await LocalStorage.RemoveItemAsync("authToken");
            CustomAuthStateProvider.NotifyUserLogout();
            Nav.NavigateTo("/");
        }
        catch(Exception e)
        {

        }
    }
}
